<!DOCTYPE html>
<html>
  <head>
    <link href="stylesheets/style.css" rel="stylesheet">
    
    
  </head>
<body>
  <div id="login">

    <form target="formOutPut" method="post" action="/loginProcess">
        <fieldset>
            帳號:<input type="text" name="account" id="account" >
            密碼:<input type="password" name="password" id="password" >
            <input type="submit">
        </fieldset>
    </form>
    <iframe name ="formOutPut"  >
    </iframe>
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js">
    </script>
  <script type="text/javascript">
  </script>
</body>
</html>
